<!DOCTYPE html>
<html ng-app="basketBall">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>basketboll</title>
<link type="text/css" href="stylesheets/style.css" rel="stylesheet" />
<script type="text/javascript" src="javascripts/angular-1.0.3.min.js"></script>
<script type="text/javascript" src="javascripts/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="javascripts/directive/basketDirective.js"></script>
<script type="text/javascript" src="javascripts/service/basketService.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript" src="javascripts/teams.js"></script>
<script type="text/javascript" src="javascripts/plugin/highcharts.js"></script>
</head>

<body  ng-controller="mainCtrl">
    <div ng-view></div>
</body>
<script type="text/javascript" src="javascripts/list.js"></script>
<script type="text/javascript" src="javascripts/detail.js"></script>
<script type="text/javascript" src="javascripts/analysis.js"></script>
</html>
